@use "../abstracts/colors" as *;
@use "../abstracts/typography" as *;
@use "../abstracts/functions" as *;

.destination-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: rem(80px) rem(16px);
  gap: rem(100px);
  height: rem(961px);
  width: fit-content;
}
//et
.destination-section__header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  gap: rem(32px);

  width: rem(288px);
  height: rem(221px);
}

.header__title {
  display: flex;
  margin: 0;
  flex-direction: column;
  width: rem(288px);
  height: rem(140px);
  min-height: rem(140px);

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: rem(40px);
  line-height: rem(53px);
  color: $tertiary;
  border-bottom: rem(3px) solid $primary;
}

.header__description {
  display: flex;
  color: $cuartary;
  width: rem(288px);
  height: rem(63px);
  font-family: $main-typography;
  font-style: normal;
  font-weight: 400;
  font-size: rem(18px);
  line-height: rem(21px);
  margin: 0;
}

.destination-section__destinations {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: rem(40px) rem(20px);
  border-radius: rem(16px);
  width: rem(288px);
  height: rem(320px);
  min-height: rem(320px);
  background: url("/src/media/img/destinations/li1-destinations.webp");
  background-position: center;
  background-size: cover;
}
.destinations__text {
  font-family: $secondary-typography;
  color: white;
  .text__title {
    font-weight: 500;
  }
}
.text__location {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  font-size: rem(18px);
  margin: 0;
  font-family: $main-typography;
  font-weight: 400;
  line-height: rem(21px);
  gap: rem(16px);
}

.destination-section__navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: rem(40px);

  width: rem(172px);
  height: rem(60px);
}
