@use "abstracts/colors" as *;
@use "abstracts/typography" as *;
@use "reset/reset" as *;
@use "hero-section/content-block" as *;
@use "destination-section/destination-section" as *;
@use "hero-section/header" as *;
@use "hero-section/actioncall" as *;
@use "footer-section/footer" as *;

body {
  width: 320px;

  background-color: rgb(255, 255, 255);
}

.hero-section {
  background: url(".././media/main-photo.webp");
}

html {
}
