@use "../abstracts/colors";

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 16px 100px;
  gap: 100px;

  width: 320px;
  height: 1210px;
  border: 5px solid;
  border-color: red;

  &__header {
    width: 320px;
    height: 110px;
    border: 5px solid;
    border-color: blue;
  }
}
